<div class="wrapper">    
    <h3 class="px-3 py-2">Rooms</h3>
    <div class="select-list">
        <ng-scrollbar #scrollable track="all" visibility="hover">
            <ul>
                <li *ngFor="let room of rooms">
                    <div class="friend">
                        <div class="friend__avatar"></div>
                        <div class="friend__user">
                            <div class="user__name"><a (click)="joinRoom(room._id)">{{ room.name }}</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-scrollbar>
    </div>
    <mat-divider></mat-divider>
    <h3 class="px-3 py-2">Users</h3>
    <div class="select-list">
        <ng-scrollbar #scrollable track="all" visibility="hover">
            <ul>
                <li *ngFor="let user of loggedUsers">
                    <div class="friend">
                        <div class="friend__avatar">
                            <div class="avatar__status"></div>
                        </div>
                        <div class="friend__user">
                            <div class="user__name"><a href="">{{ user.name }}</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-scrollbar>
    </div>
</div>